body {
    .o_portal_wrap {
        table.table{
            thead:not(:first-child){
                tr{
                    th:not(:first-child){
                        font-size: 0px;
                    }
                }
            }
        }
    }
}
